language: ruby
rvm:
  -2.0.0-p481
branches:
  only:
    -master
install:
  -"travis_retry bundle install"
before_script:
  - psql -c 'create database golf_test;' -U postgres

deploy:
  provider: heroku
  api_key: "API KEY"