/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .


*/
@import "bootstrap-sprockets";
@import 'bootstrap';


#teetime-edit {
    background-image: url('St.Andrews.jpg')!important;
    height: 100%;
    width: 100%;
}

#teetime-index {
    background-image: url('pebble-beach.jpg')!important;
    height: 100%;
    width: 100%;
}

.backdrop{
    color: #B00100;
}

body{
    /*background-image: url('St.Andrews.jpg')!important;*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cinzel', serif !important;
    margin: 60px 10px 10px 10px !important;

}

/*.logo_img {*/
    /*content:url('assets/images/hole.jpg');*/
    /*float: right;*/
/*}*/
.header {

    height:125px !important;
    background:green !important;
    border:1px solid greenyellow;
    width:auto;
    margin:10px auto;
    padding: 10px;
    /*background-image: url('assets/images/hole.jpg');*/
}

.content {
    width:960px;
    background: aliceblue;
    border: 1px solid #CCC;
    height: 200px;
    margin: 70px auto;
}

/*.container {*/
    /*width: 500px;*/
    /*border: 1px solid green;*/
    /*height: 300px;*/
    /*margin: 70px auto;*/
/*}*/



.backdrop {
    font-size: 15px;
    margin-right: 3px;
    padding-right: 20px;
}

