/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*= require bootstrap
*= require bootstrap-datetimepicker
*= require bootstrap-timepicker

 */





body{
    font-family: 'Cinzel', serif;
    /*font-family: 'Cinzel', serif;*/
    margin:10px;
    background:aliceblue;
}
/*.logo_img {*/
    /*content:url('assets/images/hole.jpg');*/
    /*float: right;*/
/*}*/
/*.header {*/
    /*font-family: 'Cinzel', serif;*/
    /*height:125px;*/
    /*background:green;*/
    /*border:1px solid greenyellow;*/
    /*width:auto;*/
    /*margin:10px auto;*/
    /*padding: 10px;*/
    /*/!*background-image: url('assets/images/hole.jpg');*!/*/
/*}*/

.content {
    width:960px;
    background: aliceblue;
    border: 1px solid #CCC;
    height: 200px;
    margin: 70px auto;
}

/*.container {*/
    /*width: 500px;*/
    /*background: blue;*/
    /*border: 1px solid green;*/
    /*height: 300px;*/
    /*margin: 70px auto;*/
/*}*/

.navbar-brand {
    font-size: 45px;
}