// Place all the styles related to the teetimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import 'bootstrap';


#TTlink {

  font-size: 40px;
}

p {
  font-style: bold;

}

.container {
  border-style: dashed;
  text-decoration: underline;
  margin: absolute;
  padding:2px;

}